html,
body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}

.pre:before{
  content: "+";
}

.cuadro{
  width: 100%;
  height: 100%;
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
}

.input-s{
  border: 1px solid rgb(77, 77, 77);
  background-color:#e9e9e9;
  color: #000000;
  padding-left: 50px;
}

.output-s{
  border: 1px solid yellow;
  background-color: #1a1b26;
  color: #9aa5ce;
}


/* carrousel */

.titulo-code{
  display: inline-block;
  white-space: nowrap;
  margin: auto;
  width: 100%;
  margin-top: 20px;
}

.titulo{
  display:inline;
  text-align: center;
  padding-left:40%;
  color: white;
  font-size: 3rem;
}

.tit-img{
  margin-left: 20px;
  display:inline;
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 100%;
  padding: 20px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background: #1a1b26; /*1a1b26*/
  background-clip: padding-box;
  border-radius: 30px;
}

.flickity-resize .carousel-cell {
  min-height: 100%;
}


/*fin carrousel */

.ui-controlgroup{
  display: inline;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:400px;
	right:5px;
	background-color:#0C9;
	color:#FFF !important;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

[data-role="list-divider"]{
  text-align: center;
  font-size: 15px;
}

[data-role="collapsible"]{
  margin-left: 15px;
  margin-right: 15px;
  
}

body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
}

.content-wrapper {
  background-color: #ffffff;  
  min-height: 100%;  
  transform: translate3d(0,0,0);
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body.open .content-wrapper {
  transform: translate3d(-55px,0,0); /* tamaño de la barra lateral */
}


.content-wrapper .menu-btn {
  display: block;
  float: right;
  color: hsl(0,0%,100%);
  padding: .5em;
  font-size: 1.5em;
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: .5em;
  list-style-type: none;
}

.menu a {
  display: block;
  text-decoration: none;
  color: hsl(0,0%,100%);
  font-size: 1.5em;
  padding: .5em;
  opacity: 0;
  transform: translate3d(48px, -48px, 0) scale(0);
  transition: .4s .3s all;
}

body.open .menu a {
  opacity: 1;
  transform: translate3d(0,0,0) scale(1);
}

body.open .menu li:nth-child(0) a {
  transition :  0.2s .1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

body.open .menu li:nth-child(1) a {
  transition :  0.2s .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

body.open .menu li:nth-child(2) a {
  transition :  0.2s .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

body.open .menu li:nth-child(3) a {
  transition :  0.2s .4s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

body.open .menu li:nth-child(4) a {
  transition :  0.2s .5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

body.open .menu li:nth-child(5) a {
  transition :  0.2s .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

body.open .menu li:nth-child(6) a {
  transition :  0.2s .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

/* demo styles */

.content-wrapper {
  padding-top: 1px;
  box-sizing: border-box;
}

.spec-link {
  color: #fff;
  display: table;
  margin: 100px auto 0;
}